<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSection" type="KGlue.AppSection, KGlue"/>
  </configSections>
  <appSection xmlns="urn:KGlue">
    <items>
      <add name="test" path="test" args="henry fan"/>
      <add name="tcpserver" path="tcp" />
    </items>
  </appSection>
</configuration>