<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="beetle" type="Beetle.ConfigSection, Beetle"/>
    <section name="trackerClientSection" type="Beetle.Tracker.TrackerClientSection, Beetle.Tracker"/>
  </configSections>
  <beetle Connections="1000"
      Pools="1"
      SocketSendThreads="1"
      SocketReceiveThreads="1"
      SocketThreadSleep="10"
      WorkThreads="1"
      WorkThreadSleep="10"
      SendBufferSize="8196"
      ReceiveBufferSize="8196"
      PackageMaxSize="81960"
      StringEncodingSize="51200"
      ChannelMaxQueueData="0"
      ExecutionContext="False"
      TimeOut="30"
      Statistics="True"
      EnabledSendQueue="False"
      EnabledReceiveQueue="False"
      EnabledWorkQueue="False"/>
  <trackerClientSection xmlns="urn:Beetle.Tracker" connections="20"  appName="TEST" host="192.168.0.110" port="10028"/>
</configuration>