<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trackerSection" type="Beetle.Tracker.TrackerSection, Beetle.Tracker"/>
  </configSections>
  <trackerSection xmlns="urn:Beetle.Tracker" appName="TEST">
    <trackers>
      <add name="T1" host="127.0.0.1" port="10028"/>
    </trackers>
    <properties>
      <add name="GROUP" value="G1"/>
      <add name="NODE" value="G1_N1"/>
      <add name="HOST" value="127.0.0.1"/>
      <add name="PORT" value="8340"/>
    </properties>
  </trackerSection>
</configuration>