<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="beetle" type="Beetle.ConfigSection, Beetle"/>
  </configSections>
  <!--Beetle配置信息-->
  <beetle Connections="5000"
          Pools="1"
          SocketSendThreads="1"
          SocketReceiveThreads="1"
          SocketThreadSleep="10"
          WorkThreads="1"
          WorkThreadSleep="10"
          SendBufferSize="8196"
          ReceiveBufferSize="8196"
          PackageMaxSize="65536"
          StringEncodingSize="65536"
          ChannelMaxQueueData="0"
          ExecutionContext="False"
          TimeOut="30"
          Statistics="False"
          EnabledSendQueue="False"
          EnabledReceiveQueue="False"
          EnabledWorkQueue="False"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
