<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="beetle" type="Beetle.ConfigSection, Beetle"/>
    <section name="trackerServerSection" type="Beetle.Tracker.TrackerServerSection, Beetle.Tracker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <beetle Connections="1000" Pools="1" SocketSendThreads="1" SocketReceiveThreads="1" SocketThreadSleep="10" WorkThreads="1" WorkThreadSleep="10" SendBufferSize="8196" ReceiveBufferSize="8196" PackageMaxSize="81960" StringEncodingSize="51200" ChannelMaxQueueData="0" ExecutionContext="False" TimeOut="30" Statistics="True" EnabledSendQueue="False" EnabledReceiveQueue="False" EnabledWorkQueue="False"/>
  <trackerServerSection xmlns="urn:Beetle.Tracker" host="" port="10028">
    <trackers>
      <add name="TEST" type="Beetle.Tracker.TestImpl.TestTackerHandler,Beetle.Tracker.TestImpl"/>
    </trackers>
  </trackerServerSection>
  <log4net> 
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        <header value="[Begin========================= %date===========================%newline" type="log4net.Util.PatternString"/>
        <footer value="[End  ========================= %date===========================%newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %-5level  %message"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
